.my-logo {
  width: 40px;
}
.header-font {
  font-family: montserrat;
}
.middle-line {
  color: rgb(53, 109, 206);
  font-weight: 800;
  margin-left: 11px;
  margin-right: 11px;
}

.hamburger-line {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#hamburger.open .line1 {
  transform: rotate(45deg) translate(3px, -4px);
}

#hamburger.open .line2 {
  opacity: 0;
}

#hamburger.open .line3 {
  transform: rotate(-45deg) translate(-14px, -3px);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes graphicSlideInFromBottom {
  from {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes graphicSlideOutFromTop {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }
}

.my-pic {
  position: relative;

  z-index: 1;
  animation: 1s ease-out 0s 1 opacity;
}

.circle-graphic-hero {
  position: absolute;
  z-index: 0;
  top: 600px;
  bottom: 0;
  left: 600px;
  right: 0;
  background: linear-gradient(
    45deg,
    rgb(21, 44, 107),
    rgb(60, 115, 200),
    rgb(17, 39, 99),
    rgb(60, 115, 200)
  );
}

.graphicSlideInFromRight {
  animation: graphicSlideInFromBottom 0.5s ease-out forwards;
}

.graphicSlideOutFromLeft {
  animation: graphicSlideOutFromTop 0.5s ease-out forwards;
}

.text-hello {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 3px; /* Adjust as needed */
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; /* Thickness of the underline */
  bottom: 0;
  left: 0;
  background-color: rgb(122, 122, 122); /* Color of the underline */
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::after {
  visibility: visible;
  width: 100%;
}

#sidebar {
  transition: transform 0.3s ease-in-out;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.hire-link {
  position: relative;
  background: linear-gradient(
    45deg,
    rgb(21, 44, 107),
    rgb(60, 115, 200),
    rgb(17, 39, 99),
    rgb(60, 115, 200),
    rgb(21, 44, 107)
  );
  background-size: 400% 400%;
  animation: moveGradient 2.7s linear infinite;
  transition: background-color 0.1s ease;
  z-index: 0;

  /* Other styles... */
}

.hire-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(72, 136, 231);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: inherit; /* Match the border-radius of the button */
  z-index: -2;
}

.hire-link:hover::after {
  opacity: 1;
}

.circle-graphic {
  background: linear-gradient(
    45deg,
    rgb(21, 44, 107),
    rgb(60, 115, 200),
    rgb(17, 39, 99),
    rgb(60, 115, 200)
  );
}

.progress-bar {
  background-color: #dfdfdf; /* Light gray background */
}

.progress {
  background-color: rgb(59 130 246); /* Blue progress bar */
  width: 0; /* Initialize with no width */
  transition: width 2s; /* Smooth transition for the bar */
}

table {
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
}

.stars {
  display: inline-flex;
  color: rgb(59 130 246);
}

.stars .fas.fa-star {
  color: rgb(229, 229, 229); /* Different color for empty stars */
}

.fa-star {
  margin-right: 4px; /* Space between stars */
}

#software-proficiency table {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#software-proficiency table.visible {
  opacity: 1;
  transform: translateY(0);
}

.table-row {
  opacity: 0;
  transition: opacity 0.3s ease 0.3s, transform 0.3s ease 0.3s; /* Add initial delay for rows */
}

.table-row.visible {
  opacity: 1;
  transform: translateY(0);
}

.animated-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  overflow: hidden; /* For rounded corner effect */
}

.animated-table th,
.animated-table td {
  text-align: center;
  padding: 12px 16px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  width: 50%;
}

.animated-table th {
  background-color: rgb(30 58 138); /* Dark header background */
  color: white;
}

.animated-table tr {
  background-color: #ffffff;
}

.animated-table tr:hover {
  background-color: #f7fafc; /* Light color on hover */
}
.portfolio-card {
  width: 100%;
  max-width: 340px;
  height: 225px; /* Adjust as needed */
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.portfolio-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.portfolio-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: white;
  padding: 7px 15px 0px 15px;

  transform: translateY(70%);
  transition: transform 0.3s ease;
}

#portfolio .container,
#portfolio h2 {
  position: relative;
  z-index: 2; /* Ensure this is above the dynamic background */
}

.portfolio-info h3 {
  margin: 0 0 10px 0;
}
.view-project {
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgb(30 58 138);
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.portfolio-card:hover .portfolio-info {
  transform: translateY(0);
}
.portfolio-card:hover .view-project {
  opacity: 1;
}

.dynamic-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  z-index: 1;
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  transition: opacity 0.7s ease;
  opacity: 0; /* Start hidden */
}

#portfolio {
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  .portfolio-card-mobile {
    max-width: none;
    margin: 15px 0;
  }
  .portfolio-info,
  .view-project {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 769px) {
  .mySwiper,
  .slider {
    display: none; /* Hide Swiper on larger screens */
  }
}

/* Media Query for Mobile Screens */
@media only screen and (max-width: 769px) {
  .dynamic-bg {
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    transition: opacity 0.5s ease-in-out;
    opacity: 0; /* Start hidden, show when in view */
  }

  #portfolio {
    position: relative;
    overflow: hidden;
    background-color: #f0f0f0; /* Default solid color */
  }

  #portfolio .container,
  #portfolio h2,
  #portfolio .portfolio-card-mobile {
    position: relative;
    z-index: 1; /* Above the blurred background */
  }

  .slider {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* other styles... */
  }

  .portfolio-card-mobile {
    flex: 0 0 auto;
    height: 400px;
    width: 80%;
    margin: 10px;
    scroll-snap-align: center;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* other styles... */
  }

  .image-container img {
    width: auto;
    height: 400px;
    object-fit: cover;
    transition: transform 0.5s ease; /* Smooth transition for the zoom effect */
  }

  .portfolio-card-mobile.in-view .image-container img {
    transform: scale(1.3); /* Adjust scale value for desired zoom level */
  }

  .description {
    position: absolute;
    bottom: -100%; /* Initially hidden */
    left: 0;
    width: 100%;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    transition: bottom 0.5s ease; /* Smooth slide-up animation */
  }

  .portfolio-card-mobile.in-view .description {
    bottom: 0; /* Slides up to cover the bottom part of the image */
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
}

.animate-fadeOutDown {
  animation: fadeOutDown 0.1s ease-out forwards;
}
