.my-logo {
  width: 40px;
}
.header-font {
  font-family: montserrat;
}
.middle-line {
  color: rgb(53, 109, 206);
  font-weight: 800;
  margin-left: 11px;
  margin-right: 11px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.my-pic {
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.text-hello {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 3px; /* Adjust as needed */
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; /* Thickness of the underline */
  bottom: 0;
  left: 0;
  background-color: rgb(122, 122, 122); /* Color of the underline */
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::after {
  visibility: visible;
  width: 100%;
}

#sidebar {
  transition: transform 0.3s ease-in-out;
}

.progress-bar {
  background-color: #dfdfdf; /* Light gray background */
}

.progress {
  background-color: rgb(59 130 246); /* Blue progress bar */
  transition: width 2s; /* Smooth transition for the bar */
}

table {
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
}

.stars {
  display: inline-block;
}

.stars[data-stars="5"]:before {
  content: "★★★★★";
  color: gold;
}
.stars[data-stars="4"]:before {
  content: "★★★★☆";
  color: gold;
}
.stars[data-stars="3"]:before {
  content: "★★★☆☆";
  color: gold;
}
.stars[data-stars="2"]:before {
  content: "★★☆☆☆";
  color: gold;
}
.stars[data-stars="1"]:before {
  content: "★☆☆☆☆";
  color: gold;
}

#software-proficiency table {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#software-proficiency table.visible {
  opacity: 1;
  transform: translateY(0);
}

.table-row {
  opacity: 0;
  transition: opacity 0.5s ease 0.5s, transform 0.5s ease 0.5s; /* Add initial delay for rows */
}

.table-row.visible {
  opacity: 1;
  transform: translateY(0);
}

.animated-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  overflow: hidden; /* For rounded corner effect */
}

.animated-table th,
.animated-table td {
  text-align: center;
  padding: 12px 16px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  width: 50%;
}

.animated-table th {
  background-color: rgb(30 58 138); /* Dark header background */
  color: white;
}

.animated-table tr {
  background-color: #ffffff;
}

.animated-table tr:hover {
  background-color: #f7fafc; /* Light color on hover */
}
.portfolio-card {
  width: 100%;
  max-width: 340px;
  height: 225px; /* Adjust as needed */
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.portfolio-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.portfolio-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: white;
  padding: 7px 15px 7px 15px;

  transform: translateY(70%);
  transition: transform 0.3s ease;
}
.portfolio-info h3 {
  margin: 0 0 10px 0;
}
.view-project {
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgb(30 58 138);
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.portfolio-card:hover .portfolio-info {
  transform: translateY(0);
}
.portfolio-card:hover .view-project {
  opacity: 1;
}

@media (max-width: 768px) {
  .portfolio-card-mobile {
    max-width: none;
    margin: 15px 0;
  }
  .portfolio-info,
  .view-project {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 769px) {
  .mySwiper,
  .slider {
    display: none; /* Hide Swiper on larger screens */
  }
}

/* Media Query for Mobile Screens */
@media only screen and (max-width: 769px) {
  .slider {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* other styles... */
  }

  .portfolio-card-mobile {
    flex: 0 0 auto;
    height: 300px;
    width: 80%;
    margin: 10px;
    scroll-snap-align: start;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    /* other styles... */
  }

  .portfolio-card-mobile img {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;
  }

  .portfolio-card-mobile h3 {
    margin: 10px 0;
  }

  .portfolio-card-mobile p {
    color: #666;
    margin: 10px 0;
  }

  /* Style the button (optional) */
  .portfolio-card-mobile button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .portfolio-card-mobile button:hover {
    background-color: #0056b3;
  }
  .portfolio-info-mobile {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }

  .portfolio-info-mobile.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .portfolio-image-mobile {
    object-fit: cover;
    transition: height 0.3s ease-out; /* Smooth transition for the height change */
  }

  .portfolio-image-mobile.in-view {
    height: 200px; /* Height when in viewport (shorter) */
  }
}
